<DxPopup @bind-Visible="@Show"
         CssClass="w1FontName w1FontSize"
         HeaderCssClass="w1BtnClosedPopup"
         CloseOnOutsideClick="false"
         ShowCloseButton="true"
         ShowHeader="true"
         ShowFooter="true"
         HeaderText="@Title">
    <BodyContentTemplate> 
        <div class="d-flex">
            <i class="@CssIcon" style="font-size:18px;"></i>
            <a style="margin-left:5px;margin-top:auto;@StyleMessage"><span>@Message</span> <p>@MessageQuestion</p></a>
        </div>
    </BodyContentTemplate>
    <FooterContentTemplate Context="Context">
        <DxButton CssClass="w1FontName w1FontSize" RenderStyle="ButtonRenderStyle.Primary" Text="Có" Click="@(() => Confirmation(true))"/>
        <DxButton CssClass="w1FontName w1FontSize" RenderStyle="ButtonRenderStyle.Secondary" Text="Không" Click="@(() => Confirmation(false))"/>
    </FooterContentTemplate>
</DxPopup>

@code{
    bool Show { get; set; }

    [Parameter] 
    public string Title { get; set; } = "";
    [Parameter] 
    public string Message { get; set; } = "";

    [Parameter] 
    public string MessageQuestion { get; set; } = ""; //thông báo câu hỏi

    [Parameter] 
    public string CssIcon { get; set; } = "";

    [Parameter] 
    public string StyleMessage { get; set; } = "";

    [Parameter] 
    public EventCallback<bool> ConfirmedChanged { get; set; }

    /// <summary>
    /// Confirmation
    /// </summary>
    /// <param name="value"></param>
    /// <returns></returns>
    private async Task Confirmation(bool value)
    {
        Show = false;
        await ConfirmedChanged.InvokeAsync(value);
    }

    /// <summary>
    /// show popup tai controller
    /// </summary>
    public void ShowPop()
    {
        Show = true;
        StateHasChanged();
    }

    /// <summary>
    /// gan lai thong tin tai controller
    /// </summary>
    /// <param name="title"></param>
    /// <param name="message"></param>
    /// <param name="icon"></param>
    public void SetConfirm(string title = "", string message = "", string icon = "", string styleMes="", string messageQuestion = "")
    {
        Title = title;
        Message = message;
        MessageQuestion = messageQuestion;
        CssIcon = icon;
        StyleMessage = styleMes;
        StateHasChanged();
    }

    /// <summary>
    /// Task thuc thi khi ket qua confirm = true
    /// </summary>
    public Func<Task> ProcessComfirm { get; set; }
}