<div class="col-form-label @ClassWidth" style="@Styles">
    <label class="w1oneline w1label @CssClass" id="@Id" title="@ToolTip">
        @Value
        @if (IsRequired)
        {
            <span class="w1required @CssClass">&nbsp;*</span>
        }
    </label>

</div>

@code {

    [Parameter]
    public string CssClass { get; set; }="";

    [Parameter]
    public string ClassWidth { get; set; }="";

    [Parameter]
    public string? Styles { get; set; }


    [Parameter]
    public bool IsRequired { get; set; } = false;

    [Parameter]
    public string ToolTip { get; set; } ="";

    [Parameter]
    public string Id { get; set; } ="";

    [Parameter]
    public string Value { get; set; } ="";


}
