@inherits LayoutComponentBase
<style>
   

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

i::before {
  font-family: "Font Awesome 6 Free";
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: rgba(36, 34, 34, 0.7);
}

html::-webkit-scrollbar-thumb {
  background: #719ca3;
  border-radius: 5rem;
}

body {
  font-size: 1.3rem;
  color: #0d0c22;
  font-weight: normal;
  overflow-x: hidden;
}

</style>
<TelerikRootComponent>
    <!-- Header -->
    <div id="header">
        <div class="header-wrapper">
            <div class="h-top-bar h-flex-box">
                <div class="h-top-bar__left">Cho thuê phòng trọ</div>
                <div class="h-top-bar__right h-flex-box">
                    <div>
                        <i class="fa-regular fa-heart"></i>
                        <span style="margin-left: 2.5px">Yêu thích</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-user-plus"></i>
                        <span style="margin-left: 2.5px">Đăng kí</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        <span style="margin-left: 2.5px">Đăng nhập</span>
                    </div>
                </div>
            </div>

            <section class="h-header-main h-flex-box">
                <div class="h-header-main__left">
                    <a href="#">
                        <img class="h-logo" src="https://hainguyen-clean-service.surge.sh/static/media/logo1.831b90e858fc1845ea53.jpg" />
                    </a>
                    <nav class="h-navbar">
                        <a href="#">Trang chủ</a>
                        <a href="#">Đăng tin</a>
                        <a href="#">Bảng giá dịch vụ</a>
                        <a href="#">Tìm phòng trọ</a>
                        <a href="#">Tin tức</a>
                    </nav>
                </div>
                <a href="#" class="h-header-main__booking">Tra cứu</a>
                <!-- <BiMenu id="menu-btn" /> -->
            </section>
        </div>
    </div>
    <!-- Header -->
    <!-- Search -->
    <div id="bh-search">
        <section class="header-wrapper">
            <div class="filter-box ">
                <div class="banner__search-info">
                    <div class="row align-items-end">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                            <label for="mail" class="k-label k-form-label">Khu vực</label>
                            <TelerikComboBox @bind-Value="@binding"
                                Data="@ListData"
                                Placeholder="Chọn khu vực"
                                Filterable="true"
                                Class="bh-combo"
                                Width="100%">
                            </TelerikComboBox>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                            <label for="mail" class="k-label k-form-label">Mức giá</label>
                            <TelerikComboBox @bind-Value="@binding"
                                Data="@ListData"
                                Placeholder="Chọn khu vực"
                                Filterable="true"
                                Width="100%">
                            </TelerikComboBox>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                            <label for="mail" class="k-label k-form-label">Diện tích</label>
                            <TelerikComboBox @bind-Value="@binding"
                                Data="@ListData"
                                Placeholder="Chọn khu vực"
                                Filterable="true"
                                Width="100%">
                            </TelerikComboBox>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                            <TelerikButton Class="bh-btn-search mb-1" IconClass="fa-solid fa-filter" FillMode="@(ThemeConstants.Button.FillMode.Outline)" ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)">Đặt lại</TelerikButton>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
    </div>
    <!-- Search -->

    <div id="h-service">
        <div className="h-wrapper">
            <section className="h-service">
                <div class="row">
                    <div class="col-lg-9 col-md-8 col-sm-12">
                        <TelerikCard Width="100%" class="bh-item__hover">
                            <div style="width: 100%;">
                                <div class="d-flex">
                                    <div style="width: 60%; height: 220px;">
                                        <CardImage Height="100%" Width="100%" Src="@($"https://file4.batdongsan.com.vn/resize/1275x717/2023/10/06/20231006104703-4300_wm.jpg")"></CardImage>
                                    </div>
                                    <div style="width: 40%; height: 218px; margin-left: 2px;">
                                        <CardImage Height="50%" Width="100%" Src="@($"https://file4.batdongsan.com.vn/crop/283x141/2023/10/06/20231006104703-a8cd_wm.jpg")"></CardImage>
                                        <div class="d-flex" style="height: 50%; margin-top: 2px;">
                                            <CardImage Height="100%" Width="50%" Src="@($"https://file4.batdongsan.com.vn/crop/140x140/2023/10/06/20231006104703-446c_wm.jpg")"></CardImage>
                                            <CardImage Class="mx-1" Height="100%" Width="100%" Src="@($"https://file4.batdongsan.com.vn/crop/140x140/2023/10/06/20231006104702-9de7_wm.jpg")"></CardImage>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <CardBody>
                                <Telerik.Blazor.Components.CardTitle>Phòng full nội thất, có ban công thoáng mát 25-30m2 giá 4,5tr-5,8tr. LH: 0938 565 *** Chị Linh</Telerik.Blazor.Components.CardTitle>
                                <div class="d-flex justify-content-start align-items-end">
                                    <Telerik.Blazor.Components.CardTitle Class="k-button-flat-primary">8.5 triệu/tháng</Telerik.Blazor.Components.CardTitle>
                                    <CardSubTitle Class="mx-3">22 m²</CardSubTitle>
                                    <CardSubTitle Class="mx-2">Quận 1, Hồ Chí Minh</CardSubTitle>
                                </div>
                                <CardSubTitle>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure ex deleniti facere sapiente voluptas libero facilis dolores possimus. 
                                    Ea nobis cum corporis. Qui nulla eos odit. Assumenda eos officia neque.
                                </CardSubTitle>
                            </CardBody>
                            <CardSeparator></CardSeparator>
                            <div class="k-card-actions k-card-actions-horizontal justify-content-between">
                                <div class="bh-font-size-sm d-flex justify-content-end align-items-center">
                                    <div>
                                        <img src="https://cdn-icons-png.flaticon.com/128/12597/12597109.png" style="height: 24px; width: 24px; border-radius: 50%;" alt="">
                                    </div>
                                    <div style="margin-left: 5px;">
                                        <p class="mb-0">Nguyễn Văn A</p>
                                        <p class="mb-0">Đăng tin hôm qua</p>
                                    </div>
                                </div>
                                <div>
                                    <TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)">Liên hệ: 0357866848</TelerikButton>
                                    <TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Base)"><i class="fa-regular fa-heart"></i></TelerikButton>
                                </div>
                            </div>
                        </TelerikCard>
                        <TelerikCard class="bh-item__hover mt-3" Width="100%">
                            <div style="width: 100%;">
                                <div class="d-flex">
                                    <div style="width: 60%; height: 220px;">
                                        <CardImage Height="100%" Width="100%" Src="@($"https://file4.batdongsan.com.vn/resize/1275x717/2023/10/06/20231006104703-4300_wm.jpg")"></CardImage>
                                    </div>
                                    <div style="width: 40%; height: 218px; margin-left: 2px;">
                                        <CardImage Height="50%" Width="100%" Src="@($"https://file4.batdongsan.com.vn/crop/283x141/2023/10/06/20231006104703-a8cd_wm.jpg")"></CardImage>
                                        <div class="d-flex" style="height: 50%; margin-top: 2px;">
                                            <CardImage Height="100%" Width="50%" Src="@($"https://file4.batdongsan.com.vn/crop/140x140/2023/10/06/20231006104703-446c_wm.jpg")"></CardImage>
                                            <CardImage Class="mx-1" Height="100%" Width="100%" Src="@($"https://file4.batdongsan.com.vn/crop/140x140/2023/10/06/20231006104702-9de7_wm.jpg")"></CardImage>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <CardBody>
                                <Telerik.Blazor.Components.CardTitle>Phòng full nội thất, có ban công thoáng mát 25-30m2 giá 4,5tr-5,8tr. LH: 0938 565 *** Chị Linh</Telerik.Blazor.Components.CardTitle>
                                <div class="d-flex justify-content-start align-items-end">
                                    <Telerik.Blazor.Components.CardTitle Class="k-button-flat-primary">8.5 triệu/tháng</Telerik.Blazor.Components.CardTitle>
                                    <CardSubTitle Class="mx-3">22 m²</CardSubTitle>
                                    <CardSubTitle Class="mx-2">Quận 1, Hồ Chí Minh</CardSubTitle>
                                </div>
                                <CardSubTitle>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure ex deleniti facere sapiente voluptas libero facilis dolores possimus. 
                                    Ea nobis cum corporis. Qui nulla eos odit. Assumenda eos officia neque.
                                </CardSubTitle>
                            </CardBody>
                            <CardSeparator></CardSeparator>
                            <div class="k-card-actions k-card-actions-horizontal justify-content-between">
                                <div class="bh-font-size-sm d-flex justify-content-end align-items-center">
                                    <div>
                                        <img src="https://cdn-icons-png.flaticon.com/128/12597/12597109.png" style="height: 24px; width: 24px; border-radius: 50%;" alt="">
                                    </div>
                                    <div style="margin-left: 5px;">
                                        <p class="mb-0">Nguyễn Văn A</p>
                                        <p class="mb-0">Đăng tin hôm qua</p>
                                    </div>
                                </div>
                                <div>
                                    <TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)">Liên hệ: 0357866848</TelerikButton>
                                    <TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Base)"><i class="fa-regular fa-heart"></i></TelerikButton>
                                </div>
                            </div>
                        </TelerikCard>
                        <TelerikCard class="bh-item__hover mt-3" Width="100%">
                            <div style="width: 100%;">
                                <div class="d-flex">
                                    <div style="width: 60%; height: 220px;">
                                        <CardImage Height="100%" Width="100%" Src="@($"https://file4.batdongsan.com.vn/resize/1275x717/2023/10/06/20231006104703-4300_wm.jpg")"></CardImage>
                                    </div>
                                    <div style="width: 40%; height: 218px; margin-left: 2px;">
                                        <CardImage Height="50%" Width="100%" Src="@($"https://file4.batdongsan.com.vn/crop/283x141/2023/10/06/20231006104703-a8cd_wm.jpg")"></CardImage>
                                        <div class="d-flex" style="height: 50%; margin-top: 2px;">
                                            <CardImage Height="100%" Width="50%" Src="@($"https://file4.batdongsan.com.vn/crop/140x140/2023/10/06/20231006104703-446c_wm.jpg")"></CardImage>
                                            <CardImage Class="mx-1" Height="100%" Width="50%" Src="@($"https://file4.batdongsan.com.vn/crop/140x140/2023/10/06/20231006104702-9de7_wm.jpg")"></CardImage>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <CardBody>
                                <Telerik.Blazor.Components.CardTitle>Phòng full nội thất, có ban công thoáng mát 25-30m2 giá 4,5tr-5,8tr. LH: 0938 565 *** Chị Linh</Telerik.Blazor.Components.CardTitle>
                                <div class="d-flex justify-content-start align-items-end">
                                    <Telerik.Blazor.Components.CardTitle Class="k-button-flat-primary">8.5 triệu/tháng</Telerik.Blazor.Components.CardTitle>
                                    <CardSubTitle Class="mx-3">22 m²</CardSubTitle>
                                    <CardSubTitle Class="mx-2">Quận 1, Hồ Chí Minh</CardSubTitle>
                                </div>
                                <CardSubTitle>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure ex deleniti facere sapiente voluptas libero facilis dolores possimus. 
                                    Ea nobis cum corporis. Qui nulla eos odit. Assumenda eos officia neque.
                                </CardSubTitle>
                            </CardBody>
                            <CardSeparator></CardSeparator>
                            <div class="k-card-actions k-card-actions-horizontal justify-content-between">
                                <div class="bh-font-size-sm d-flex justify-content-end align-items-center">
                                    <div>
                                        <img src="https://cdn-icons-png.flaticon.com/128/12597/12597109.png" style="height: 24px; width: 24px; border-radius: 50%;" alt="">
                                    </div>
                                    <div style="margin-left: 5px;">
                                        <p class="mb-0">Nguyễn Văn A</p>
                                        <p class="mb-0">Đăng tin hôm qua</p>
                                    </div>
                                </div>
                                <div>
                                    <TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)">Liên hệ: 0357866848</TelerikButton>
                                    <TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Base)"><i class="fa-regular fa-heart"></i></TelerikButton>
                                </div>
                            </div>
                        </TelerikCard>

                        <div>
                            <TelerikCard class="bh-item__hover mt-3" Width="100%">
                                <div class="row mb-1">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <CardImage Height="140px" Width="100%" Src="@($"https://file4.batdongsan.com.vn/resize/1275x717/2023/10/06/20231006104703-4300_wm.jpg")"></CardImage>
                                        <div class="d-flex justify-content-between" style="width: 100%; margin-top: 2px;">
                                            <CardImage Height="100px" Width="33%" Src="@($"https://file4.batdongsan.com.vn/crop/140x140/2023/10/06/20231006104703-446c_wm.jpg")"></CardImage>
                                            <CardImage Height="100px" Width="33%" Src="@($"https://file4.batdongsan.com.vn/crop/140x140/2023/10/06/20231006104702-9de7_wm.jpg")"></CardImage>
                                            <CardImage Height="100px" Width="33%" Src="@($"https://file4.batdongsan.com.vn/crop/140x140/2023/10/06/20231006104702-9de7_wm.jpg")"></CardImage>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <CardBody>
                                            <Telerik.Blazor.Components.CardTitle>Phòng full nội thất, có ban công thoáng mát 25-30m2 giá 4,5tr-5,8tr. LH: 0938 565 *** Chị Linh</Telerik.Blazor.Components.CardTitle>
                                            <div class="">
                                                <Telerik.Blazor.Components.CardTitle Class="k-button-flat-primary">8.5 triệu/tháng</Telerik.Blazor.Components.CardTitle>
                                                <CardSubTitle>Diện tích: 22 m²</CardSubTitle>
                                                <CardSubTitle><i class="fa-solid fa-location-dot" style="margin-right: 5px;"></i>Quận 1, Hồ Chí Minh</CardSubTitle>
                                            </div>
                                            <CardSubTitle>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure ex deleniti facere sapiente voluptas libero facilis dolores possimus. 
                                                Ea nobis cum corporis. Qui nulla eos odit. Assumenda eos officia neque.
                                            </CardSubTitle>
                                        </CardBody>
                                    </div>
                                </div>
                                <CardSeparator></CardSeparator>
                                <div class="k-card-actions k-card-actions-horizontal justify-content-between">
                                    <div class="bh-font-size-sm d-flex justify-content-end align-items-center">
                                        <div>
                                            <img src="https://cdn-icons-png.flaticon.com/128/12597/12597109.png" style="height: 24px; width: 24px; border-radius: 50%;" alt="">
                                        </div>
                                        <div style="margin-left: 5px;">
                                            <p class="mb-0">Nguyễn Văn A</p>
                                            <p class="mb-0">Đăng tin hôm qua</p>
                                        </div>
                                    </div>
                                    <div>
                                        <TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)">Liên hệ: 0357866848</TelerikButton>
                                        <TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Base)"><i class="fa-regular fa-heart"></i></TelerikButton>
                                    </div>
                                </div>
                            </TelerikCard>
                            <TelerikCard class="bh-item__hover mt-3" Width="100%">
                                <div class="row mb-1">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <CardImage Height="140px" Width="100%" Src="@($"https://file4.batdongsan.com.vn/resize/1275x717/2023/10/06/20231006104703-4300_wm.jpg")"></CardImage>
                                        <div class="d-flex justify-content-between" style="width: 100%; margin-top: 2px;">
                                            <CardImage Height="100px" Width="33%" Src="@($"https://file4.batdongsan.com.vn/crop/140x140/2023/10/06/20231006104703-446c_wm.jpg")"></CardImage>
                                            <CardImage Height="100px" Width="33%" Src="@($"https://file4.batdongsan.com.vn/crop/140x140/2023/10/06/20231006104702-9de7_wm.jpg")"></CardImage>
                                            <CardImage Height="100px" Width="33%" Src="@($"https://file4.batdongsan.com.vn/crop/140x140/2023/10/06/20231006104702-9de7_wm.jpg")"></CardImage>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <CardBody>
                                            <Telerik.Blazor.Components.CardTitle>Phòng full nội thất, có ban công thoáng mát 25-30m2 giá 4,5tr-5,8tr. LH: 0938 565 *** Chị Linh</Telerik.Blazor.Components.CardTitle>
                                            <div class="">
                                                <Telerik.Blazor.Components.CardTitle Class="k-button-flat-primary">8.5 triệu/tháng</Telerik.Blazor.Components.CardTitle>
                                                <CardSubTitle>Diện tích: 22 m²</CardSubTitle>
                                                <CardSubTitle><i class="fa-solid fa-location-dot" style="margin-right: 5px;"></i>Quận 1, Hồ Chí Minh</CardSubTitle>
                                            </div>
                                            <CardSubTitle>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure ex deleniti facere sapiente voluptas libero facilis dolores possimus. 
                                                Ea nobis cum corporis. Qui nulla eos odit. Assumenda eos officia neque.
                                            </CardSubTitle>
                                        </CardBody>
                                    </div>
                                </div>
                                <CardSeparator></CardSeparator>
                                <div class="k-card-actions k-card-actions-horizontal justify-content-between">
                                    <div class="bh-font-size-sm d-flex justify-content-end align-items-center">
                                        <div>
                                            <img src="https://cdn-icons-png.flaticon.com/128/12597/12597109.png" style="height: 24px; width: 24px; border-radius: 50%;" alt="">
                                        </div>
                                        <div style="margin-left: 5px;">
                                            <p class="mb-0">Nguyễn Văn A</p>
                                            <p class="mb-0">Đăng tin hôm qua</p>
                                        </div>
                                    </div>
                                    <div>
                                        <TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)">Liên hệ: 0357866848</TelerikButton>
                                        <TelerikButton ThemeColor="@(ThemeConstants.Button.ThemeColor.Base)"><i class="fa-regular fa-heart"></i></TelerikButton>
                                    </div>
                                </div>
                            </TelerikCard>
                        </div>

                        <nav aria-label="Page navigation" class="bh-pagination" style="margin-top: 10px">
                            <ul class="pagination d-flex justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <TelerikCard Width="100%">
                            <CardBody>
                                <h1 class="bh-h1">Xem theo giá</h1>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                        <span class="bh-link-hover bh-font-size">Dưới 1 triệu</span>
                                        <CardSeparator></CardSeparator>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                        <span class="bh-link-hover bh-font-size">Từ 1 - 2 triệu</span>
                                        <CardSeparator></CardSeparator>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                        <span class="bh-link-hover bh-font-size">Từ 3 - 5 triệu</span>
                                        <CardSeparator></CardSeparator>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                        <span class="bh-link-hover bh-font-size">Từ 5 - 7 triệu</span>
                                        <CardSeparator></CardSeparator>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                        <span class="bh-link-hover bh-font-size">Từ 7 - 10 triệu</span>
                                        <CardSeparator></CardSeparator>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                        <span class="bh-link-hover bh-font-size">Từ 10 - 15 triệu</span>
                                        <CardSeparator></CardSeparator>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                        <span class="bh-link-hover bh-font-size">Tên 15 triệu</span>
                                        <CardSeparator></CardSeparator>
                                    </div>
                                </div>       
                            </CardBody>
                        </TelerikCard>
                        <TelerikCard Class="mt-4" Width="100%">
                            <CardBody>
                                <h1 class="bh-h1">Lọc theo diện tích</h1>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                        <span class="bh-link-hover bh-font-size">Dưới 20 m²</span>
                                        <CardSeparator></CardSeparator>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                        <span class="bh-link-hover bh-font-size">20 -30 m²</span>
                                        <CardSeparator></CardSeparator>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                        <span class="bh-link-hover bh-font-size">30 -40 m²</span>
                                        <CardSeparator></CardSeparator>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                        <span class="bh-link-hover bh-font-size">40 -50 m²</span>
                                        <CardSeparator></CardSeparator>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                        <span class="bh-link-hover bh-font-size">Trên 50 m²</span>
                                        <CardSeparator></CardSeparator>
                                    </div>
                                </div>
                            </CardBody>
                        </TelerikCard>
                        <TelerikCard Class="mt-4" Width="100%">
                            <CardBody>
                                <h1 class="bh-h1">Tin mới đăng</h1>
                            </CardBody>
                        </TelerikCard>
                        <TelerikCard Class="mt-4" Width="100%">
                            <CardBody>
                                <h1 class="bh-h1">Bài viết mới</h1>
                            </CardBody>
                        </TelerikCard>
                        <TelerikCard Class="mt-4" Width="100%">
                            <CardBody>
                                <h1 class="bh-h1">Có thể bạn quan tâm</h1>
                                <div class="col-sm-12 mt-1">
                                    <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                    <span class="bh-link-hover bh-font-size">Mẫu hợp đồng cho thuê phòng trọ</span>
                                    <CardSeparator></CardSeparator>
                                </div>
                                <div class="col-sm-12 mt-2">
                                    <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                    <span class="bh-link-hover bh-font-size">Kinh nghiệm thuê phòng trọ sinh viên</span>
                                    <CardSeparator></CardSeparator>
                                </div>
                                <div class="col-sm-12 mt-2">
                                    <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                    <span class="bh-link-hover bh-font-size">Kinh nghiệm thuê phòng trọ sinh viên</span>
                                    <CardSeparator></CardSeparator>
                                </div>
                                <div class="col-sm-12 mt-2">
                                    <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                    <span class="bh-link-hover bh-font-size">Kinh nghiệm thuê phòng trọ sinh viên</span>
                                    <CardSeparator></CardSeparator>
                                </div>
                            </CardBody>
                        </TelerikCard>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Boarding House -->
    <!-- Boarding House -->
    
    <div id="h-contact">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.835923091856!2d106.6894111140712!3d10.82386546127772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528f1b76f9fed%3A0x4c73436d7210e287!2zNDk3IMSQLiBQaGFuIFbEg24gVHLhu4ssIFBoxrDhu51uZyA1LCBHw7IgVuG6pXAsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1678725544760!5m2!1svi!2s" width="100%" height="450px" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <!-- Footre -->
    <div id="h-footer">
        <div class="h-wrapper">
            <section class="h-footer">
                <div class="box-container">
                    <div class="content--info">

                    </div>
                </div>
                <div class="box-container">
                    <div class="box">
                        <a href="#">
                            <img class="h-logo" src="https://hainguyen-clean-service.surge.sh/static/media/logo1.831b90e858fc1845ea53.jpg" />
                        </a>
                        <p style="margin-bottom: 0px;">Cho thuê phòng trọ</p>
                        <div class="share" style="padding-top: 0px;">
                            <a href="#">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <h3>DỊCH VỤ CỦA CHÚNG TÔI</h3>
                        <a href="#home" class="links">
                            <i class="fas fa-arrow-right"></i>
                            <span>Báo giá & hổ trợ</span>
                        </a>
                        <a href="#about" class="links">
                            <i class="fas fa-arrow-right"></i>
                            <span>Câu hỏi thường gặp</span>
                        </a>
                        <a href="#destination" class="links">
                            <i class="fas fa-arrow-right"></i>
                            <span>Góp ý báo lỗi</span>
                        </a>
                        <a href="#gallery" class="links">
                            <i class="fas fa-arrow-right"></i>
                            <span>Sitemap</span>
                        </a>
                    </div>
                    <div class="box contact">
                        <h3>CÔNG TY CỔ PHẦN PROPERTYGURU VIỆT NAM</h3>
                        <p>
                            <i class="fas fa-phone"></i>
                            <span>+035-786-6848</span>
                        </p>
                        <p>
                            <i class="fas fa-map"></i>
                            <span>Quận 12, TP. Hồ Chí Minh</span>
                        </p>
                        <p>
                            <i class="fas fa-envelope"></i>
                            <span>chamsockhachhangf@gmail.com</span>
                        </p>
                        <p>
                            <i class="fa-solid fa-headphones"></i>
                            <span>hotrokhachangf@gmail.com</span>
                        </p>
                    </div>
                </div>
            </section>
        </div>
        <div class="credit">
            Created By
            <span>Mr. Nguyen Tan Hai</span>| All Rights Reserved.
        </div>
    </div>
    <!-- Footer -->
</TelerikRootComponent>


@code{
    public List<CarouselModel> CarouselData { get; set; } = new List<CarouselModel>()
        {
            new CarouselModel() { Url = @"https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fcdn.chotot.com%2Fadmincentre%2FICGqIPhBAn559vSI4v7jaBAYFYegeRG7xSfUJ6tkugI%2Fpreset%3Araw%2Fplain%2F6ec3994f81e14d768dfc467847ce430c-2820195948173896828.jpg&w=1080&q=90"},
            new CarouselModel() { Url = @"https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fcdn.chotot.com%2Fadmincentre%2FICGqIPhBAn559vSI4v7jaBAYFYegeRG7xSfUJ6tkugI%2Fpreset%3Araw%2Fplain%2F6ec3994f81e14d768dfc467847ce430c-2820195948173896828.jpg&w=1080&q=90"},
            new CarouselModel() { Url = @"https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fcdn.chotot.com%2Fadmincentre%2FICGqIPhBAn559vSI4v7jaBAYFYegeRG7xSfUJ6tkugI%2Fpreset%3Araw%2Fplain%2F6ec3994f81e14d768dfc467847ce430c-2820195948173896828.jpg&w=1080&q=90"},
            new CarouselModel() { Url = @"https://lighthouse.chotot.com/_next/image?url=https%3A%2F%2Fcdn.chotot.com%2Fadmincentre%2FICGqIPhBAn559vSI4v7jaBAYFYegeRG7xSfUJ6tkugI%2Fpreset%3Araw%2Fplain%2F6ec3994f81e14d768dfc467847ce430c-2820195948173896828.jpg&w=1080&q=90"},
        };

    public int Page { get; set; } = 3;
    public int PageSize { get; set; } = 4;
    public int TotalCount { get; set; } = 50;

    public List<string> ListData = new List<string>() {"Quận 1","Quận 2","Quận 3","Quận 4","Quận 5"};
    public string binding { get; set; } = "";
}
