@inherits LayoutComponentBase

<style>
    body{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>
<BHLoading />
<Blazored.Toast.BlazoredToasts Position="ToastPosition.TopRight"
                               Timeout="5"
                               IconType="IconType.FontAwesome"
                               ErrorIcon="fas fa-times"
                               InfoIcon="fas fa-info"
                               SuccessIcon="fas fa-check"
                               WarningIcon="fas fa-exclamation"
                               ShowProgressBar="@true"
                               ShowCloseButton="@true">
    <CloseButtonContent>
        <div>
            <span>&times;</span>
        </div>
    </CloseButtonContent>
</Blazored.Toast.BlazoredToasts>
<AuthorizeView>
  <Authorized>

    <NavBar>
        <NavBarLeft>
            <NavBarMenuItem Link="/">Home</NavBarMenuItem>
            <li class="d-none d-sm-inline-block nav-item ">
                <a class="nav-link">@breadcumb</a>
            </li>
        </NavBarLeft>
        <NavBarRight>
            <NavBarDropDown>
                <NavBarBadge Color="Color.Warning" Icon="far fa-bell">15</NavBarBadge>
                <NavBarDropDownMenu>
                    <DropdownHeader>15 Notifications</DropdownHeader>
                    <DropdownDivider></DropdownDivider>
                    <NotificationMessage DateTime="dt.AddMinutes(-3)" Icon="fas fa-envelope mr-2">
                        <Message>4 new messages</Message>
                    </NotificationMessage>
                    <DropdownDivider></DropdownDivider>
                    <NotificationMessage DateTime="dt.AddHours(-12)" Icon="fas fa-users mr-2">
                        <Message>8 friend requests</Message>
                    </NotificationMessage>
                    <DropdownDivider></DropdownDivider>
                    <NotificationMessage DateTime="dt.AddDays(-2)" Icon="fas fa-file mr-2">
                        <Message>3 new reports</Message>
                    </NotificationMessage>
                    <DropdownDivider></DropdownDivider>
                    @*<DropdownFooter OnClick="SeeAllNotifications">See All Notifications</DropdownFooter>*@
                </NavBarDropDownMenu>
            </NavBarDropDown>
                <a class="" href="/admin/logout" style="padding-top: 7.5px;font-size: 12px; color: #1f2d3d; margin-left: 5px">Đăng xuất<i style="margin-left: 5px" class="fa-solid fa-arrow-right-from-bracket"></i></a>
            
            @*<NavBarSideBarControl></NavBarSideBarControl>*@
        </NavBarRight>
    </NavBar>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-light-lightblue elevation-4 w1FontName w1FontSizeMenu">
        <BrandLogo Link="https://adminlte.io/" Logo="./images/logo.png">BHouse Manager</BrandLogo>
        <SideBar>
            <!-- Sidebar user panel (optional) -->
                <SideBarUserPanel ImageEffect="ImageEffect.Circle" Link="starter-pages/user-page" Elevation="Elevation.Three" UserImage="../dist/img/user.jpg">@FullName</SideBarUserPanel>
            @*<SideBarSearch></SideBarSearch>*@
            <SideBarMenu>
                @if (ListMenus != null && ListMenus.Any())
                {
                    foreach (var item in ListMenus)
                    {
                        <SideBarMenuItem Link="@item.Link" Icon="@item.Icon">
                            @item.Name
                        </SideBarMenuItem>
                    }
                }
                @*<SideBarTreeView Icon="far fa-folder-open">
                    <Title>Báo cáo</Title>
                    <Items>
                        <SideBarMenuItem Link="document">
                            Doanh số chi tiết
                        </SideBarMenuItem>
                        <SideBarMenuItem Link="listdocument">
                            Doanh số tổng hợp 
                        </SideBarMenuItem>
                        <SideBarMenuItem Link="listdocument">
                            Doanh số theo chứng từ
                        </SideBarMenuItem>
                    </Items>
                </SideBarTreeView>*@
            </SideBarMenu>
        </SideBar>
    </aside>
    <ContentWrapper>
        <section class="content" style="padding: 0.5rem;">
            <TelerikRootComponent>
                <CascadingValue Value="@UserId" Name="pUserId">
                    <CascadingValue Value="@IsSupperAdmin" Name="pIsSupperAdmin">
                        @Body
                    </CascadingValue>
                    
                </CascadingValue>
                
                <BHConfirmPassword FullName="@FullName" UserName="@UserName" />
            </TelerikRootComponent>
        </section>
    </ContentWrapper>
    @*<ControlSideBar>Hello World!</ControlSideBar>*@

    <MainFooter>
        <Default>
            Copyright &copy; All rights reserved.
        </Default>
    </MainFooter>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin/>
     </NotAuthorized>
</AuthorizeView>